:root {
    --percentage: 100%;
    --pixelate: 1080px;
    --textSize: var(--percentage);
}
body {
    width: var(--percentage);
    height: var(--percentage);
    font-size: var(--textSize);
    margin: calc(var(--percentage) * 0);
}
#Homepage header {
    display: flex;
    width: var(--percentage);
    height: calc(var(--pixelate) / 27);
}
#Homepage header div {
    justify-content: center;
    align-items: center;
    height: var(--percentage);
    display: flex;
}
#Homepage header div:nth-child(1) {
    width: calc(var(--percentage) / 2);
    font-size: calc(var(--textSize) * 2);
}
#Homepage header div:nth-child(2),
#Homepage header div:nth-child(3) {
    width: calc(var(--percentage) / 4);
}
#Homepage header div a {
    padding: calc(var(--pixelate) * (5 / 1080))
        calc(var(--pixelate) * (10 / 1080));
}
#Homepage footer {
    width: var(--percentage);
    height: calc(var(--pixelate) / 54);
    text-align: center;
}
#Homepage main {
    width: calc(var(--pixelate) * (866 / 1080));
    height: calc(var(--pixelate) * (575 / 1080));
    margin: calc(var(--percentage) * 0) calc(var(--pixelate) * (250 / 1080));
}
#Homepage main div {
    font-size: calc(var(--textSize) * 1.331);
    padding: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
}
#Homepage main div:nth-child(1) {
    text-align: center;
}
