/* Variables */
:root {
    --percentage: 100%;
    --pixelate: 1080px;
    --textSize: var(--percentage);
    --time: 1s;
}
/* Default application's styling */
body {
    width: var(--percentage);
    font-size: var(--textSize);
    margin: calc(var(--percentage) * 0);
}
#Homepage header,
body[class="404"] header,
#Register header,
#Login header,
body[id*="LoginVerification"] header,
#Sign-Out header {
    font-size: calc(var(--textSize) * 2);
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
}
#Homepage main {
    width: calc(var(--percentage) / 2);
    margin: calc(var(--percentage) * 0) calc(var(--percentage) / 8);
    padding: calc(var(--percentage) / 50) calc(var(--percentage) / 8);
}
#Homepage main #notice {
    font-size: calc(var(--textSize) * 1.449459);
}
#Homepage main #buttons {
    display: flex;
    margin-top: calc(var(--percentage) / 50);
}
#Homepage main #buttons div {
    display: flex;
    justify-content: center;
    width: calc(var(--percentage) / 2);
}
#Homepage footer,
body[class="404"] footer,
#Register footer,
#Login footer,
body[id*="LoginVerification"] footer,
body[id*="UsersHome"] footer,
#Sign-Out footer {
    font-size: calc(var(--textSize) * 0.9);
}
#Homepage main #buttons div a {
    padding: calc(var(--pixelate) / 54) calc(var(--pixelate) / 27);
    margin: calc(var(--pixelate) / 90);
    display: inline-block;
    transform: translate(
        calc(var(--percentage) * 0),
        calc(var(--percentage) * 0)
    );
    overflow: hidden;
    font-size: calc(var(--textSize) * (5 / 3));
    letter-spacing: calc(var(--pixelate) / 432);
    box-shadow: 0 calc(var(--pixelate) / 54) calc(var(--pixelate) / 21.6)
        var(--color4);
}
#Homepage main #buttons div a::before {
    position: absolute;
    top: calc(var(--pixelate) * 0);
    left: calc(var(--pixelate) * 0);
    width: var(--percentage);
    height: var(--percentage);
    transition: calc(var(--time) / 5) opacity ease-in-out;
}
#Homepage main #buttons div a span {
    position: absolute;
}
#Homepage main #buttons div a span:nth-child(1) {
    top: calc(var(--pixelate) * 0);
    left: calc(var(--pixelate) * 0);
    width: var(--percentage);
    height: calc(var(--pixelate) / 540);
    animation: calc(var(--time) * 2) animateTop linear infinite;
}
@keyframes animateTop {
    0% {
        transform: translateX(var(--percentage));
    }
    100% {
        transform: translateX(calc(var(--percentage) * -1));
    }
}
#Homepage main #buttons div a span:nth-child(2) {
    top: calc(var(--pixelate) * 0);
    right: calc(var(--pixelate) * 0);
    height: var(--percentage);
    width: calc(var(--pixelate) / 540);
    animation: calc(var(--time) * 2) animateRight linear calc(var(--time) * -1)
        infinite;
}
@keyframes animateRight {
    0% {
        transform: translateY(var(--percentage));
    }
    100% {
        transform: translateY(calc(var(--percentage) * -1));
    }
}
#Homepage main #buttons div a span:nth-child(3) {
    bottom: calc(var(--pixelate) * 0);
    left: calc(var(--pixelate) * 0);
    width: var(--percentage);
    height: calc(var(--pixelate) / 540);
    animation: calc(var(--time) * 2) animateBottom linear infinite;
}
@keyframes animateBottom {
    0% {
        transform: translateX(calc(var(--percentage) * -1));
    }
    100% {
        transform: translateX(var(--percentage));
    }
}
#Homepage main #buttons div a span:nth-child(4) {
    top: calc(var(--pixelate) * 0);
    left: calc(var(--pixelate) * 0);
    height: var(--percentage);
    width: calc(var(--pixelate) / 540);
    animation: calc(var(--time) * 2) animateLeft linear calc(var(--time) * -1)
        infinite;
}
@keyframes animateLeft {
    0% {
        transform: translateY(calc(var(--percentage) * -1));
    }
    100% {
        transform: translateY(var(--percentage));
    }
}
body[class="404"] main .Error {
    font-size: calc(var(--textSize) * 2);
}
body[class="404"] main #message {
    font-size: calc(var(--textSize) * 1.8);
    margin: calc(var(--percentage) / 200) calc(var(--percentage) * 0);
}
body[class="404"] main .button button {
    font-size: calc(var(--textSize) * 2);
}
#Register main,
#Login main,
body[id*="LoginVerification"] main {
    display: flex;
    justify-content: center;
}
#Register main form[method="POST"],
#Login main form[method="POST"],
body[id*="LoginVerification"] main form[method="POST"] {
    padding: calc(var(--percentage) / 50) calc(var(--percentage) / 10);
}
#Register main form[method="POST"] #label,
#Login main form[method="POST"] #label,
body[id*="LoginVerification"] main form[method="POST"] #label {
    font-size: calc(var(--textSize) * 1.8);
}
#Register main form[method="POST"] input,
#Login main form[method="POST"] input,
body[id*="LoginVerification"] main form[method="POST"] input {
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
    width: calc(var(--percentage) * 0.98);
    font-size: var(--textSize);
    border: none;
    padding: calc(var(--percentage) / 100);
}
#Register main form[method="POST"] #button,
#Login main form[method="POST"] #button,
body[id*="LoginVerification"] main form[method="POST"] #button {
    display: flex;
    justify-content: center;
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
}
#Register main form[method="POST"] div button,
#Login main form[method="POST"] div button,
body[id*="LoginVerification"] main form[method="POST"] div button {
    border: none;
    font-size: calc(var(--textSize) * 1.62);
    padding: calc(var(--percentage) / 40) calc(var(--percentage) / 20);
    cursor: pointer;
}
#Register main form[method="POST"] #response h1,
#Login main form[method="POST"] #response h1,
body[id*="LoginVerification"] main form[method="POST"] #response h1 {
    margin: calc(var(--percentage) * 0);
    margin-top: calc(var(--percentage) / 50);
}
body[id*="UsersHome"] header nav {
    display: flex;
}
body[id*="UsersHome"] header nav div {
    width: calc(var(--percentage) / 4);
}
body[id*="UsersHome"] header nav div:nth-child(1) {
    width: calc(var(--percentage) / 2);
}
body[id*="UsersHome"] header nav div a {
    font-size: calc(var(--textSize) * 2);
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
}
body[id*="UsersHome"] main {
    display: flex;
    justify-content: space-evenly;
}
body[id*="UsersHome"] main div a img {
    width: auto;
    height: calc(var(--pixelate) / 33.75);
}
#Sign-Out main {
    font-size: calc(var(--textSize) * 2);
    margin-bottom: calc(var(--percentage) / 100);
}
#Register footer div:nth-child(1),
#Login footer div:nth-child(1) {
    font-size: var(--textSize);
    margin-bottom: calc(var(--percentage) / 200);
}
