:root {
    --percentage: 100%;
    --pixelate: 1080px;
    --mobileCoefficient: calc(10000000000000 / 34522712143931);
    --textSize: calc(
        var(--percentage) * var(--mobileCoefficient) * (214358881 / 100000000)
    );
}
body {
    width: var(--percentage);
    height: var(--percentage);
    font-size: var(--textSize);
    margin: calc(var(--percentage) * 0);
}
#Homepage header,
#Login header,
#Register header,
#ForgotPassword header,
body[id*="LoginVerification"] header {
    display: flex;
    width: var(--percentage);
    height: calc(var(--pixelate) / 54);
}
#Homepage main div,
#Login main div,
#Register main div {
    justify-content: center;
    align-items: center;
    height: var(--percentage);
    display: flex;
}
#Homepage header div:nth-child(1),
#Login header div {
    width: var(--percentage);
    font-size: calc(var(--textSize) * (20 / 6));
}
#Homepage header div:nth-child(2),
#Homepage header div:nth-child(3) {
    width: calc(var(--percentage) / 2);
}
#Homepage header div a {
    font-size: calc(var(--textSize) * (20 / 8));
}
#Homepage footer,
#ForgotPassword footer,
body[id*="LoginVerification"] footer {
    width: var(--percentage);
    height: calc(var(--pixelate) / 54);
    text-align: center;
    font-size: calc(var(--textSize) * (20 / 6));
}
#Homepage main,
#ForgotPassword main,
body[id*="LoginVerification"] main {
    width: var(--percentage);
    height: calc(var(--pixelate) * (600 / 1080));
    display: flex;
}
#Homepage main div,
#Login main div,
#Register main div,
#ForgotPassword main div,
body[id*="LoginVerification"] main div {
    display: flex;
    width: calc(var(--percentage) / 2);
}
#Homepage main div:nth-child(1),
#Login main div:nth-child(1),
#Register main div:nth-child(1),
#ForgotPassword main div:nth-child(1),
body[id*="LoginVerification"] main div:nth-child(1) {
    justify-content: center;
    align-items: center;
}
#Homepage main div:nth-child(1) img,
#Login main div:nth-child(1) img,
#Register main div:nth-child(1) img,
#ForgotPassword main div:nth-child(1) img,
body[id*="LoginVerification"] main div:nth-child(1) img {
    width: var(--percentage);
}
#Homepage main div:nth-child(2) {
    flex-wrap: wrap;
    align-content: space-evenly;
}
#Homepage main div:nth-child(2) div {
    display: block;
    width: var(--percentage);
}
#Homepage main div:nth-child(2) div:nth-child(1) {
    font-size: calc(var(--textSize) * 2);
    text-align: center;
}
#Homepage main div:nth-child(2) div:nth-child(2) {
    font-size: calc(var(--textSize) * 1.62);
}
#Login main,
#Register main {
    width: var(--percentage);
    height: calc(var(--pixelate) * (580 / 1080));
    display: flex;
}
#Login main form,
#Register main form {
    width: calc(var(--percentage) / 2);
    height: calc(var(--percentage) * (105 / 580));
    margin: calc(var(--percentage) * (580 / 320) * (237.5 / 580))
        calc(var(--percentage) / 2 * 0);
}
#Login main form div:nth-child(1),
#Register main form div:nth-child(1),
#ForgotPassword main form div:nth-child(1),
body[id*="LoginVerification"] main form div:nth-child(1) {
    display: block;
    width: var(--percentage);
    text-align: center;
    font-size: calc(var(--textSize) * 2);
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
}
#Login main form input,
#Register main form input,
#ForgotPassword main form input,
body[id*="LoginVerification"] main form input {
    width: calc(var(--percentage) * 0.96);
    margin: calc(var(--percentage) / 100);
    padding: calc(var(--percentage) / 100);
    border: none;
}
#Login main form div[id="button"],
#Login main form div[id="response"],
#Register main form div[id="button"],
#Register main form div[id="response"],
#ForgotPassword main form div[id="button"],
#ForgotPassword main form div[id="response"],
body[id*="LoginVerification"] main form div[id="button"],
body[id*="LoginVerification"] main form div[id="response"] {
    width: var(--percentage);
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
    justify-content: center;
}
#Login main form div[id="button"] button,
#Register main form div[id="button"] button,
#ForgotPassword main form div[id="button"] button,
body[id*="LoginVerification"] main form div[id="button"] button {
    font-size: calc(var(--textSize) * 1.8);
    border: none;
    padding: calc(var(--pixelate) * (5 / 1080))
        calc(var(--pixelate) * (10 / 1080));
}
#Login footer,
#Register footer {
    width: var(--percentage);
    height: calc(var(--pixelate) / 27);
    text-align: center;
}
#Register header,
#ForgotPassword header,
body[id*="LoginVerification"] header {
    justify-content: center;
    font-size: calc(var(--textSize) * 2);
}
#Register main form div:nth-child(1),
#Register main form div[id="response"] {
    height: calc(var(--percentage) / 5.25);
}
#Register main form div[id="button"] {
    height: calc(var(--percentage) / 4.2);
}
#ForgotPassword main form,
body[id*="LoginVerification"] main form {
    width: calc(var(--percentage) / 2);
    height: calc(var(--percentage) * (85 / 600));
    margin: calc(var(--percentage) * (600 / 320) * (257.5 / 600))
        calc(var(--percentage) * 0);
}
#ForgotPassword main form div:nth-child(1),
#ForgotPassword main form div[id="response"],
body[id*="LoginVerification"] main form div:nth-child(1),
body[id*="LoginVerification"] main form div[id="response"] {
    height: calc(var(--percentage) / 4.25);
}
#ForgotPassword main form div[id="button"],
body[id*="LoginVerification"] main form div[id="button"] {
    height: calc(var(--percentage) / 3.4);
}
