/* Variables */
:root {
    --percentage: 100%;
    --pixelate: 1080px;
    --tabletCoefficient: 0.59049;
    --textSize: calc(var(--percentage) * var(--tabletCoefficient) * 2);
}
body {
    width: var(--percentage);
    font-size: var(--textSize);
    margin: calc(var(--percentage) * 0);
}
#Homepage header,
#Register header {
    font-size: calc(var(--textSize) * 1.458);
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
}
#Homepage main {
    width: calc(var(--percentage) * 0.96);
    margin: calc(var(--percentage) * 0);
    padding: calc(var(--percentage) / 50);
}
#Homepage main #notice {
    font-size: calc(var(--textSize) * 0.85589104491);
}
#Homepage main #buttons {
    display: flex;
    margin-top: calc(var(--percentage) / 50);
}
#Homepage main #buttons div {
    display: flex;
    justify-content: center;
    width: calc(var(--percentage) / 2);
    height: fit-content;
}
#Homepage footer,
#Register footer {
    font-size: calc(var(--textSize) * 0.9);
}
#Homepage main #buttons div a {
    padding: calc(var(--pixelate) / 54 * 0.81)
        calc(var(--pixelate) / 27 * 0.4782969);
    margin: calc(var(--pixelate) / 90) calc(var(--pixelate) / 90 * 0.3486784401);
    display: inline-block;
    font-size: var(--textSize);
    box-shadow: 0 calc(var(--pixelate) / 54) calc(var(--pixelate) / 21.6)
        var(--color4);
    background: none;
    background-color: var(--color4);
}
#Homepage main #buttons div a::before,
#Homepage main #buttons div a span {
    display: none;
}
#Homepage main #buttons div a span {
    background: none !important;
}
#Homepage main #buttons div a:hover {
    --color6: rgb(
        var(--percentage),
        calc(var(--percentage) * 0.9),
        calc(var(--percentage) * 0.8)
    );
    color: var(--color5);
    background: none;
    background-color: var(--color6);
}
#Register main {
    display: flex;
    justify-content: center;
}
#Register main form[method="POST"] {
    padding: calc(var(--percentage) / 50) calc(var(--percentage) / 10);
}
#Register main form[method="POST"] #label {
    font-size: calc(var(--textSize) * 1.458);
}
#Register main form[method="POST"] input {
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
    width: calc(var(--percentage) * 0.98);
    font-size: var(--textSize);
    border: none;
    padding: calc(var(--percentage) / 100);
}
#Register main form[method="POST"] #button {
    display: flex;
    justify-content: center;
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
}
#Register main form[method="POST"] div button {
    border: none;
    font-size: calc(var(--textSize) * 1.62);
    padding: calc(var(--percentage) / 40) calc(var(--percentage) / 20);
    cursor: pointer;
}
#Register main form[method="POST"] #response h1 {
    margin: calc(var(--percentage) * 0);
    margin-top: calc(var(--percentage) / 50);
}
