@font-face {
    font-family: "Proxima Nova";
    src: url("../Fonts/Proxima Nova.otf");
    src: url("../Fonts/Proxima Nova - Alternate.otf");
}
@font-face {
    font-family: "Source Code Pro";
    src: url("../Fonts/Source Code Pro - Black.otf");
    src: url("../Fonts/Source Code Pro - Black Italic.otf");
    src: url("../Fonts/Source Code Pro - Bold Italic.otf");
    src: url("../Fonts/Source Code Pro - Bold.otf");
    src: url("../Fonts/Source Code Pro - Extra Light Italic.otf");
    src: url("../Fonts/Source Code Pro - Extra Light.otf");
    src: url("../Fonts/Source Code Pro - Italic.otf");
    src: url("../Fonts/Source Code Pro - Light Italic.otf");
    src: url("../Fonts/Source Code Pro - Light.otf");
    src: url("../Fonts/Source Code Pro - Medium Italic.otf");
    src: url("../Fonts/Source Code Pro - Medium.otf");
    src: url("../Fonts/Source Code Pro - Regular.otf");
    src: url("../Fonts/Source Code Pro - Semi Bold.otf");
    src: url("../Fonts/Source Code Pro - Semi Bold Italic.otf");
}
@font-face {
    font-family: "Ethnocentric";
    src: url("../Fonts/Ethnocentric - Regular.otf");
    src: url("../Fonts/Ethnocentric - Regular Italic.otf");
}
:root {
    --percentage: 100%;
    --color1: rgb(
        calc(var(--percentage) * 0.9),
        calc(var(--percentage) * 0.9),
        calc(var(--percentage) * 0.9)
    );
    --color2: rgb(
        calc(var(--percentage) * 0),
        calc(var(--percentage) * 0),
        calc(var(--percentage) / 2)
    );
    --color3: rgb(
        calc(var(--percentage) * 0),
        calc(var(--percentage) / 2),
        var(--percentage)
    );
    --color4: rgb(var(--percentage), var(--percentage), var(--percentage));
    --proximaNova: "Proxima Nova";
    --sourceCodePro: "Source Code Pro";
    --ethnocentric: "Ethnocentric";
}
#Homepage {
    font-family: sans-serif;
    background-color: var(--color1);
    color: var(--color2);
}
#Homepage header div:nth-child(1) {
    font-family: var(--ethnocentric);
}
#Homepage header div a {
    text-decoration: none;
    font-family: var(--sourceCodePro);
    font-weight: bold;
    color: var(--color3);
    background-color: var(--color1);
}
#Homepage header div a:hover {
    color: var(--color2);
    background-color: var(--color1);
    text-decoration: underline;
}
#Homepage footer {
    font-family: var(--ethnocentric);
}
#Homepage main div {
    font-family: var(--proximaNova);
}
#Homepage main div span {
    font-family: var(--ethnocentric);
}
#Homepage main {
    background-color: var(--color4);
}
