@font-face {
    font-family: "Proxima Nova";
    src: url("https://fonts.cdnfonts.com/css/proxima-nova-2");
}
@font-face {
    font-family: "Source Code Pro";
    src: url("https://fonts.cdnfonts.com/css/source-sans-pro");
}
@font-face {
    font-family: "Ethnocentric";
    src: url("https://fonts.cdnfonts.com/css/ethnocentric");
}
:root {
    --percentage: 100%;
    --color1: rgb(
        calc(var(--percentage) * 0.9),
        calc(var(--percentage) * 0.9),
        calc(var(--percentage) * 0.9)
    );
    --color2: rgb(
        calc(var(--percentage) * 0),
        calc(var(--percentage) * 0),
        calc(var(--percentage) / 2)
    );
    --color3: rgb(
        calc(var(--percentage) * 0),
        calc(var(--percentage) / 2),
        var(--percentage)
    );
    --color4: rgb(var(--percentage), var(--percentage), var(--percentage));
    --color5: rgba(
        calc(var(--percentage) * 0),
        calc(var(--percentage) * 0),
        calc(var(--percentage) / 2),
        calc(var(--percentage) / 2)
    );
    --color6: rgb(
        calc(var(--percentage) / 10),
        calc(var(--percentage) / 10),
        calc(var(--percentage) / 10)
    );
    --color7: rgb(
        var(--percentage),
        var(--percentage),
        calc(var(--percentage) / 1.7)
    );
    --color8: rgb(
        calc(var(--percentage) * (107 / 255)),
        calc(var(--percentage) * (49 / 255)),
        calc(var(--percentage) * (168 / 255))
    );
    --color9: rgb(
        calc(var(--percentage) * (40 / 255)),
        calc(var(--percentage) * (52 / 255)),
        calc(var(--percentage) * (78 / 255))
    );
    --color10: rgb(
        calc(var(--percentage) * (201 / 255)),
        calc(var(--percentage) * (118 / 255)),
        calc(var(--percentage) * (14 / 255))
    );
    --proximaNova: "Proxima Nova";
    --sourceCodePro: "Source Code Pro";
    --ethnocentric: "Ethnocentric";
}
#Homepage,
#Login,
#Register,
#ForgotPassword,
body[id*="LoginVerification"],
body[id*="Users"] {
    font-family: sans-serif;
    background-color: var(--color1);
    color: var(--color2);
}
#Homepage header div:nth-child(1),
#Login header div:nth-child(1) a,
#Homepage footer,
#Homepage main div span,
#Login footer div:nth-child(2),
#Register header a,
#Register footer div:nth-child(2),
#ForgotPassword header a,
#ForgotPassword footer,
body[id*="LoginVerification"] header a,
body[id*="LoginVerification"] footer,
body[id*="Users"] header nav div:nth-child(1) a,
body[id*="Users"] footer,
body[id*="UsersHome"]
    main
    #leagueOfLegendsCard
    div:nth-child(2)
    div:nth-child(2)
    div
    div:nth-child(1),
body[id*="LeagueOfLegends"] header nav div:nth-child(1) a,
body[id*="LeagueOfLegends"]
    main
    div
    header
    div:nth-child(2)
    div
    div:nth-child(1),
body[id*="LeagueOfLegends"]
    main
    div
    header
    div:nth-child(4)
    div:nth-child(1)
    div:nth-child(1),
body[id*="LeagueOfLegends"]
    main
    div
    header
    div:nth-child(4)
    div:nth-child(2)
    div:nth-child(1),
body[id*="LeagueOfLegends"] footer div {
    font-family: var(--ethnocentric);
}
#Login header div:nth-child(1) a,
#Login footer div:nth-child(1) a,
#Register header a,
#Register footer div:nth-child(1) a,
#ForgotPassword header a,
body[id*="LoginVerification"] header a,
body[id*="Users"] header nav div:nth-child(1) a,
body[id*="Users"] header nav div:nth-child(2) a:hover,
body[id*="Users"] header nav div:nth-child(3) a:hover,
body[id*="UsersProfile"] main nav div a:hover {
    color: var(--color2);
}
#Homepage header div a,
#Login header div a {
    text-decoration: none;
    font-family: var(--sourceCodePro);
    font-weight: bold;
    color: var(--color3);
}
#Homepage header div a:hover,
#Login header div a:hover {
    color: var(--color2);
    text-decoration: underline;
}
#Homepage main div,
#Login footer div:nth-child(1),
#Register footer div:nth-child(1),
body[id*="UsersHome"]
    main
    #leagueOfLegendsCard
    div:nth-child(2)
    div:nth-child(1)
    div,
body[id*="UsersHome"]
    main
    #leagueOfLegendsCard
    div:nth-child(2)
    div:nth-child(2)
    div
    div:nth-child(3)
    div:nth-child(1),
body[id*="UsersHome"]
    main
    #leagueOfLegendsCard
    div:nth-child(2)
    div:nth-child(3)
    div
    div,
body[id*="UsersHome"]
    main
    #leagueOfLegendsCard
    div:nth-child(2)
    div:nth-child(2)
    div
    div:nth-child(3)
    div:nth-child(2),
body[id*="UsersHome"]
    main
    #leagueOfLegendsCard
    div:nth-child(2)
    div:nth-child(2)
    div
    div:nth-child(3)
    div:nth-child(3),
body[id*="UsersEditProfile"] main form div:nth-child(1),
body[id*="UsersSecurity"] main form div:nth-child(1),
body[id*="LeagueOfLegends"] main div header div:nth-child(1),
body[id*="LeagueOfLegends"] main div header div:nth-child(2),
body[id*="LeagueOfLegends"]
    main
    div
    header
    div:nth-child(2)
    div
    div:nth-child(3)
    div:nth-child(1),
body[id*="LeagueOfLegends"] main div header div:nth-child(4),
body[id*="LeagueOfLegends"]
    main
    div
    header
    div:nth-child(4)
    div:nth-child(2)
    div:nth-child(2)
    div,
body[id*="LeagueOfLegends"] main div div #championMastery,
body[id*="LeagueOfLegends"]
    main
    div
    div
    #matchHistory
    div
    div:nth-child(2)
    div {
    font-family: var(--proximaNova);
}
#Homepage main,
#Login main,
#Register main,
#ForgotPassword main,
body[id*="LoginVerification"] main,
body[id*="UsersSecurity"] form {
    background-color: var(--color4);
}
#Login footer div:nth-child(1) a,
#Register footer div:nth-child(1) a,
body[id*="Users"] header nav div:nth-child(1) a {
    text-decoration: none;
}
#Login footer div:nth-child(1) a:hover,
#Register header a:hover,
#Register footer div:nth-child(1) a:hover,
#ForgotPassword header a:hover,
body[id*="LoginVerification"] header a:hover,
body[id*="Users"] header nav div:nth-child(1) a:hover {
    text-decoration: underline;
}
#Login main form div:nth-child(1),
#Register main form div:nth-child(1),
#ForgotPassword main form div:nth-child(1),
body[id*="LoginVerification"] main form div:nth-child(1),
body[id*="UsersProfile"] main div header div:nth-child(2),
body[id*="UsersSecurity"] main header div:nth-child(2) {
    font-family: var(--proximaNova);
    font-weight: bold;
}
#Login main form input,
#Register main form input,
#ForgotPassword main form input,
body[id*="LoginVerification"] main form input,
body[id*="UsersAccounts"] main form input,
body[id*="UsersAccounts"] main form select,
body[id*="UsersSecurity"] main form input,
body[id*="LeagueOfLegends"] header nav div:nth-child(2) form input {
    background-color: var(--color1);
    color: var(--color2);
    font-family: var(--sourceCodePro);
}
#Login main form input::placeholder,
#Login main form input::-webkit-input-placeholder,
#Register main form input::placeholder,
#Register main form input::-webkit-input-placeholder,
#ForgotPassword main form input::placeholder,
#ForgotPassword main form input::-webkit-input-placeholder,
body[id*="LoginVerification"] main form input::placeholder,
body[id*="LoginVerification"] main form input::-webkit-input-placeholder,
body[id*="UsersAccounts"] main form input::placeholder,
body[id*="UsersAccounts"] main form input::-webkit-input-placeholder,
body[id*="UsersSecurity"] main form input::placeholder,
body[id*="UsersSecurity"] main form input::-webkit-input-placeholder,
body[id*="LeagueOfLegends"] header nav div:nth-child(2) form input::placeholder,
body[id*="LeagueOfLegends"]
    header
    nav
    div:nth-child(2)
    form
    input::-webkit-input-placeholder {
    color: var(--color5);
}
#Login main form div[id="button"] button,
#Register main form div[id="button"] button,
#ForgotPassword main form div[id="button"] button,
body[id*="LoginVerification"] main form div[id="button"] button,
body[id*="UsersSecurity"] main form div:nth-child(6) button,
body[id*="UsersEditProfile"] main form input::file-selector-button,
body[id*="UsersEditProfile"] main form input::-webkit-file-upload-button,
body[id*="UsersEditProfile"] main form div button,
body[id*="UsersAccounts"] main form div button {
    font-family: var(--sourceCodePro);
    background-color: var(--color3);
    color: var(--color4);
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
}
#Login main form div[id="button"] button:hover,
#Register main form div[id="button"] button:hover,
#ForgotPassword main form div[id="button"] button:hover,
body[id*="LoginVerification"] main form div[id="button"] button:hover,
body[id*="UsersSecurity"] main form div:nth-child(6) button:hover,
body[id*="UsersEditProfile"] main form input::file-selector-button:hover,
body[id*="UsersEditProfile"] main form input::-webkit-file-upload-button:hover,
body[id*="UsersEditProfile"] main form div button:hover,
body[id*="UsersAccounts"] main form div button:hover {
    background-color: var(--color4);
    color: var(--color2);
}
#Register header a,
#ForgotPassword header a,
body[id*="LoginVerification"] header a {
    text-decoration: none;
    font-weight: bold;
}
body[id*="Users"] header nav div:nth-child(2) a img,
body[id*="UsersHome"] main #leagueOfLegendsCard div:nth-child(1) a img,
body[id*="LeagueOfLegends"] main nav div a img,
body[id*="LeagueOfLegends"] footer nav div a img {
    opacity: calc(var(--percentage) / 2);
}
body[id*="Users"] header nav div:nth-child(2) a img:hover,
body[id*="UsersHome"] main #leagueOfLegendsCard div:nth-child(1) a img:hover,
body[id*="LeagueOfLegends"] main nav div a img:hover,
body[id*="LeagueOfLegends"] footer nav div a img:hover {
    opacity: var(--percentage);
}
body[id*="Users"] header nav div:nth-child(2) a,
body[id*="Users"] header nav div:nth-child(3) a {
    color: var(--color3);
    text-decoration: none;
}
body[id*="UsersHome"] main #leagueOfLegendsCard {
    background-color: var(--color6);
    color: var(--color7);
}
body[id*="UsersProfile"] main nav {
    background-color: var(--color3);
}
body[id*="UsersProfile"] main nav div a {
    color: var(--color1);
    text-decoration: none;
}
body[id*="LeagueOfLegends"] {
    background-color: var(--color6);
    color: var(--color7);
    font-family: sans-serif;
}
body[id*="LeagueOfLegends"] header nav div:nth-child(1) a,
body[id*="LeagueOfLegends"] main nav div a,
body[id*="LeagueOfLegends"] main nav div a:hover,
body[id*="LeagueOfLegends"] main nav div svg:hover {
    color: var(--color7);
    text-decoration: none;
}
body[id*="LeagueOfLegends"] header nav div:nth-child(1) a:hover,
body[id*="LeagueOfLegends"] main nav div a,
body[id*="LeagueOfLegends"] main nav div svg {
    color: var(--color8);
}
body[id*="LeagueOfLegends"] header nav div:nth-child(2) form button,
body[id*="LeagueOfLegends"] header nav div:nth-child(3) button,
body[id*="LeagueOfLegends"] header nav div:nth-child(4) a,
body[id*="LeagueOfLegends"] header nav div:nth-child(5) a,
body[id*="LeagueOfLegends"] header nav div:nth-child(6) a {
    background-color: var(--color8);
    color: var(--color6);
    cursor: pointer;
}
body[id*="LeagueOfLegends"] header nav div:nth-child(2) form svg,
body[id*="LeagueOfLegends"] header nav div:nth-child(3) svg,
body[id*="LeagueOfLegends"] header nav div:nth-child(4) svg,
body[id*="LeagueOfLegends"] header nav div:nth-child(5) svg,
body[id*="LeagueOfLegends"] header nav div:nth-child(6) svg,
body[id*="LeagueOfLegends"] footer nav div svg {
    color: var(--color8);
    cursor: pointer;
}
body[id*="LeagueOfLegends"] header nav div:nth-child(2) form button:hover,
body[id*="LeagueOfLegends"] header nav div:nth-child(3) button:hover,
body[id*="LeagueOfLegends"] header nav div:nth-child(4) a:hover,
body[id*="LeagueOfLegends"] header nav div:nth-child(5) a:hover,
body[id*="LeagueOfLegends"] header nav div:nth-child(6) a:hover,
body[id*="LeagueOfLegends"] header nav div:nth-child(2) form svg:hover,
body[id*="LeagueOfLegends"] header nav div:nth-child(3) svg:hover,
body[id*="LeagueOfLegends"] header nav div:nth-child(4) svg:hover,
body[id*="LeagueOfLegends"] header nav div:nth-child(5) svg:hover,
body[id*="LeagueOfLegends"] header nav div:nth-child(6) svg:hover,
body[id*="LeagueOfLegends"] footer nav div svg:hover {
    background-color: var(--color6);
    color: var(--color7);
}
body[id*="LeagueOfLegends"] header nav div:nth-child(3) button,
body[id*="LeagueOfLegends"] header nav div:nth-child(4) a,
body[id*="LeagueOfLegends"] header nav div:nth-child(5) a,
body[id*="LeagueOfLegends"] header nav div:nth-child(6) a {
    font-family: var(--sourceCodePro);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
::-webkit-scrollbar {
    display: none;
}
body[id*="LeagueOfLegends"]
    main
    div
    div
    #matchHistory
    div
    div:nth-child(2)
    div {
    font-weight: bold;
    text-shadow: calc(var(--pixelate) / 540) calc(var(--pixelate) / 540)
        var(--color6);
}
body[id*="UsersAccounts"] main form div:nth-child(1) {
    font-weight: bold;
}
